<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Submition Successful</title>
<style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
</head>
<body>
<div align="center">
    <h2>Succesfully Submited </h2>
    <span>Full name:</span><span th:text="${user.name}"></span><br/>
    <span>Period:</span><span th:text="${user.Period}"></span><br/>
    <span>Date:</span><span th:text="${user.Day}"></span><br/>
    <br/>
    <br/>
    <span>Question1:</span><span th:text="${user.Question1}"></span><br/>
    <span>Question2:</span><span th:text="${user.Question2}"></span><br/>
    <span>Question3:</span><span th:text="${user.Question3}"></span><br/>
    <span>Profession:</span><span th:text="${user.profession}"></span><br/>
    <span>Married?</span><span th:text="${user.married}"></span><br/>
    <span>Note:</span><span th:text="${user.note}"></span><br/>
</div>
</body>
</html>